<div class="footer-top">
  <div class="offer">
    <ul>
      <li>我们的产品和服务</li>
      <li>云计算</li>
      <li>云存储</li>
      <li>虚拟化</li>
    </ul>
  </div>
  <div class="industries">
    <ul>
      <li>行业</li>
      <li>铁路培训平台 </li>
      <li>高铁接触网检测系统</li>
      <li>高铁远动培训系统</li>
    </ul>
  </div>

  <div class="support">
    <ul>
      <li>支持</li>
      <li>联系技术支持部门</li>
      <li>培训计划</li>
    </ul>
  </div>
  <div class="company">
    <ul>
      <li>公司</li>
      <li>关于万数</li>
      <li>我们的团队</li>
      <li>地理位置</li>
    </ul>
  </div>
</div>

<div class="footer-mid">
  <div class="footer-mid-one">
    <button>加入电子邮件列表</button>
    <button>联系我们</button>
  </div>
  <div class="footer-mid-two">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa-youtube"></i>
    <i class="fa fa-linkedin"></i>
    <i class="fa fa-google-plus"></i>
  </div>
</div>
