<div class="about-head">
<h1>万数的使命</h1>
<p>为用户提供最专业的数据支持</p>
</div>
<div class="about-frame">
  <div class="under-about-head">
    <div class="long">
      <div class="short"></div>
    </div>
    <div class="about-title">
      关于<strong>万数</strong>
    </div>
    <div class="about-content">
    我们生活在一个互联的全球化环境中，感受着瞬息万变。在必要情况下，仅能够驾驭和指挥系统显然是不够的。成功需要更及时地获得知识、制定更严格的纪律及开展更智能化的运营。
    </div>
  </div>

  <div class="about-company">
    <div class="one">
      <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fhyjxkurnuj30p00b4q4a.jpg" alt="">
    </div>
    <div class="two">
      <p>北京万数科技有限公司（简称“万数科技”）成立于2015年，是一家专业的企业级计算机产品（服务器、存储、工控机、网络安全产品）的生产制造商。公司能够为客户提供全方位的OEM/ODM产品设计和研发生产服务，并且具备端到端的业务交付能力。
    公司依托自身在企业级计算产品定制研发领域的技术积累和产业链资源整合能力，致力于为智慧交通、信息安全、平安城市、数据中心、云计算、大数据、物联网、人工智能等产业链上的相关高技术含量的客户提供专业的定制化产品解决方案及服务。
      </p>
    </div>
    <div class="three">
      <p>
      万数科技的核心技术团队成员均来自国内知名的IT公司，在产品定制化设计、研发和生产管理方面拥有十多年的工作经验，能够为用户提供丰富的成功案例，以供客户作为设计参考和决策支撑。
      面向未来，万树科技将继续秉持“打造创新方案、锻造可靠产品、提供极致服务”的价值观，为客户提供更具创新性的产品体验，让客户享受更优质的产品和服务。
      </p>
    </div>
    <div class="four">
      <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fhyjyqnoo4j30p00b4wfa.jpg" alt="">
    </div>
  </div>

</div>
