<!-- 轮播图 -->

<div id= "myCarousel" class="carousel slide carousel-frame">
  <ul class="carousel-indicators carousel-button">
    <li data-target="#myCarousel" data-slide-to= "0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"> </li>
    <li data-target = "#myCarousel" data-slide-to="2"> </li>
  </ul>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://ws2.sinaimg.cn/large/006tKfTcly1fhupttrhnmj312w0p046x.jpg" alt="" >
      <div class="carousel-caption carousel-description">
        <h1>
          <span>易于构建，易于维护，易于拥有</span>
          "先睹为快"
          <br>
          "System Platform 2017"
        </h1>
        <p>强大／适应／包容</p>
        <a href="#" class="button">深入了解</a>
      </div>
    </div>
    <div class="item">
      <img src="https://ws2.sinaimg.cn/large/006tKfTcly1fhupyip2wxj31290p476k.jpg" alt="">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="https://ws4.sinaimg.cn/large/006tKfTcly1fhupyp3royj312w0p0ae8.jpg" alt="">
      <div class="carousel-caption">

      </div>
    </div>
  </div>
</div>


<div class="under-carousel">
  <div class="under-carousel-info">
    <div class="short"></div>
    <div class="title">实现从依靠人力<br>
      到
      <b>人类无所不能</b>
      的巨大改变
    </div>
    <p>在 万数，我们坚信技术具有无限潜能，能够赋予人们超凡的能力并让企业改头换面。我们专注于创造最具创新性和可靠性的工业软件，
      以帮助个人、团队及各种规模的企业获得非凡成就。</p>
    <p>Wonderware 将随时为您提供所需的工具、培训及支持，以帮助您摆脱平庸，实现令人惊叹的业绩。</p>
  </div>

</div>

<div class="project-example">

  <div class="part-one  ">
    <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fhv6eyumsqj30p00d60up.jpg" alt="" align="middle">
  </div>
  <div class="part-two ">
    <h1>一切皆有可能</h1>
    <p>数十年来，万数 凭借在任何工业软件领域无可比拟的广泛安装基础和功能最为丰富的产品，始终推动着工业软件市场创新力的发展。
      希望我们共同携手，让工业和基础设施行业改头换面。</p>
    <a href="/">探索潜在奇迹</a>
  </div>
</div>
<div class="project-example ">
  <div class="part-three ">
    <h1>独出心裁不足为奇
付诸应用才难能可贵
    </h1>
    <p>全球超过三分之一的公司信赖万数软件，并将其用于工厂的运营。在每个能够想象到的行业中，
      我们的工业软件都是企业的核心。了解真正掌控一切的意义。</p>
    <a href="/" >体会成功</a>
  </div>
  <div class="part-one">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fhv6ez0dnzj30p00b4jtt.jpg" alt="">
  </div>
</div>
</div>



<div class="your-dream">
  <div class="your-dream-word">
    <div class="line-short">

    </div>
    <div class="title">表达您的愿景</div>
    <p>在职业生涯之初，您应拒绝平庸或不要只满足于“已足够好”。在 万数，我们从不满足，并孜孜不倦地追求提升效率和绩效， <br>
      我们将这一动力转化为工业软件，以帮助您完成惊人的壮举。</p>
  </div>
</div>

<div class="your-dream-picture">
  <h1>激发梦想、绽放未来、创造奇迹。</h1>
</div>

<div class="business-description">
  <div class="business-picture">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fhw6zqjaqwj307i0fk0sy.jpg" alt="">
  </div>
  <div class="business-picture">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fhw6zolso6j307i0fkt91.jpg" alt="">
  </div>
  <div class="business-picture">
    <img src="https://ws3.sinaimg.cn/large/006tNc79ly1fhw6zmtb48j307i0fkjrj.jpg" alt="">
  </div>
  <div class="business-picture">
    <img src="https://ws3.sinaimg.cn/large/006tKfTcly1fhyfu0q252j307i0fkjs3.jpg" alt="">
  </div>
</div>


<div class="support-frame">
  <div class="line-long">

  </div>
  <div class="line-short">

  </div>
  <div class="support-part">

    <div class="title">支持</div>
    <p>当您依靠任务关键软件并将其作为业务核心时，将专门针对您独特的业务需求而量身打造一套支持计划，
      可让您安心无虞和高枕无忧。然而，软件维护与支持可作为竞争性战略，以保持和改进运营绩效。
    </p>
    <p>万数推出众多备受赞誉的全方位支持和服务计划，以帮助保护和提升软件产品和解决方案的价值。</p>
  </div>
  <div class= "support-part-icon">
    <div class="support-part-span">
      <i class="fa fa-users" aria-hidden="true"></i>
      <strong>支持</strong>
    </div>
    <div class="support-part-span">
      <i class="fa fa-cog" aria-hidden="true"></i>
      <strong>培训</strong>
    </div>
    <div class="support-part-span">
      <i class="fa fa-comments" aria-hidden="true"></i>
      <strong>社区</strong>
    </div>
  </div>
</div>

<%= render "footer-above" %>




<script>
  $('#myCarousel').carousel({
     interval: 5000
  })
</script>
