/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

html{
  height:100%;
}
body{
  height:100%;
}

// 页脚
footer {
  background-color: rgb(66,66,66);
  height:70px;
  width:100%;
  display:table;
  .footer-part-one {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    span{
      color:white;
    }
  }
  .footer-part{
    display:table-cell;
    color:white;
    vertical-align: middle;
    text-align: center;
    li{
      display:inline-block;
    }

  }

}



// 导航栏
.head {
  position:fixed;
  background-color: rgba(17,30,49 ,1);
  height:60px;
  width:100%;
  display:table;
  box-sizing:content-box;
  z-index: 1000;
  .head-part-one{
    display:table-cell;
    width:50%;
    text-align: center;
    img{
      height:60px;
      margin-left: 10%;
    }
    li{
      display:inline-block;
      position:relative;
      margin-left: 10%;
      line-height: 60px;
      color:rgba(44,118,233,1);
      .dropdown-content{
        display:none;
        position: fixed;
        left:15%;
        top:60px;
        width:70%;
        height:500px;
        background-color: green;
        z-index: 1000;
        .part-one{
          height:440px;
          float:left;
          background-color: yellow;
        }
        .part-two{
          height:440px;
          float:left;
          background-color: red;
        }
        .part-three{
          height:440px;
          float:left;
          background-color: blue;
        }
        .part-four{
          clear:left;
          width:100%;
          height:60px;
          background-color: rgba(17,30,49 ,1);
          .one{
            float:left;
            font-size: 20px;
            font-weight: 800;
            margin-left: 30px;
            line-height: 60px;
          }
          .two{
            float:right;
            line-height: 60px;
          }
          .three{
            float:right;
            line-height: 60px;
          }
          .four{
            float:right;
            line-height: 60px;
          }
          .five{
            float:right;
            margin-left: 20px;
            margin-right:50px;
            line-height: 30px;
            text-decoration: none;
            height:30px;
            padding:0px 10px;
            margin-top:15px;
            color:rgba(44,118,233,1);
            border:2px solid rgba(44,118,233,1);
            border-radius: 20px;
            &:hover{
              background-color: rgba(255,255,255,1);
            }
          }
        }
      }
    }
    li:hover .dropdown-content{
      display:inline-block;
    }
  }
  .head-part-two{
    display:table-cell;
    width:50%;
    padding-left: 15%;
    .ul-frame{
      list-style: none;
      .height{
        display:inline-block;
        margin-right: 10%;
        line-height: 60px;
        margin-bottom: -8px;
      }
    }
  }
}

.industry-dropdown{
  position:relative;
  display:inline-block;
  color:rgba(44,118,233,1);

}
.industry-dropdown-content{
  display:none;
  position:absolute;
  background-color: rgba(33,45,67 ,1);
  min-width: 180px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:20px 20px;
  list-style: none;
  li{
    line-height: 30px;
  }

}
.industry-dropdown:hover .industry-dropdown-content{
  display:block;
}


// 轮播图

.carousel-frame{
  padding-top: 60px;
  width:100%;
  height:650px;
  overflow: hidden;
  z-index: 900;
  img{
    width:100%;
  }
  .carousel-button{
    position:absolute;
    top:500px;
    z-index: 900;
    ul{
      list-style: none;
      z-index: 900;
      li{
        z-index: 900;
      }
    }
  }
}

.carousel-description{
  position:absolute;
  top:100px;
}

// 轮播图下面部分
.under-carousel{
  width:100%;
  margin-top:50px;
  margin-bottom:50px;
  text-align: center;
}
.under-carousel-info{
  width:50%;
  display:block;
  margin:auto !important;
  h3{
    color:rgb(77,88,117);
  }
  b{
    color:rgb(119,130,163);
  }
  p{
    color:rgb(119,130,163);
  }
}

// 图文介绍

.project-example{
  width:100%;
  clear:left;
  overflow:auto;
  background-image: url(https://ws1.sinaimg.cn/large/006tNc79ly1fhvx58e8duj315p0iv0th.jpg);



  .part-one{
    float:left;
    width: 55%;
    img{
      width:100%;
      vertical-align: bottom;
    }
  }
  .part-two{
    float:left;
    color:white;
    width: 45%;
    h1{
      margin-left: 30px;
      margin-top:15%;
    }
    p{
      color:rgb(255,254,255);
      width:60%;
      margin-left:30px;
      margin-top:50px;
      margin-bottom:20px;
      line-height: 25px;
    }
    a{
      padding:6px 14px;
      margin-left: 30px;
      border:2px solid rgba(44,118,233,1);
      border-radius: 15px;
      color:rgb(255,254,255);
      text-decoration: none;
      &:hover{
        background-color: rgba(44,118,233,1);

      }
    }
  }
  .part-three{
    float:left;
    padding:20px 30px;
    color:white;
    width: 45%;
    h1{
      margin-left: 30%;
      margin-top:20px;
    }
    p{
      margin-left:30%;
      margin-top:50px;
      line-height: 25px;
      margin-bottom: 20px;
    }
    a{
      padding:6px 14px;
      margin-left: 30%;
      border:2px solid rgba(44,118,233,1);
      border-radius: 15px;
      color:rgb(255,254,255);
      text-decoration: none;
      &:hover{
        background-color: rgba(44,118,233,1);

      }
    }
  }

}

// 表达愿景

.your-dream{
  width:100%;
  height:300px;
  padding-top:50px;

  background-image: url(https://ws2.sinaimg.cn/large/006tNc79ly1fhw4wlq5t5j315o09qq3m.jpg);
  p{
    color:rgb(119,130,163);
  }
  .your-dream-word{
    width:80%;
    height:220px;
    margin:auto !important;
    text-align: center;
    border-top: 1px solid grey;
    .line-short{
      width:30%;
      border-top:3px solid rgba(44,118,233,1);
      margin:0 auto;
    }
  }
}
.your-dream-picture{
  width: 100%;
  height:250px;
  padding-top: 90px;
  margin-bottom:-40px;
  background-image: url(https://ws2.sinaimg.cn/large/006tNc79ly1fhw5ugwfvoj315o0axmzy.jpg);
  h1{
    text-align: center;
    color: white;
  }
}

.business-description{
  width:80%;
  height:400px;
  background-color: white;
  margin:0 auto ;
  img{
    height:360px;
    width:100%;
  }
  .business-picture{
    width:20%;
    margin-left: 4%;
    height:360px;
    margin-top: 20px;
    float:left;
  }
  .business-picture:last-of-type {
    width:20%;
    margin-right: 4%;
    margin-left:4%;
    height:360px;
    margin-top: 20px;
    float:left;
  }
}

// 支持部分
.support-frame{
  width:100%;
  height:600px;
  padding-top: 80px;
  text-align: center;
  background-image: url(https://ws1.sinaimg.cn/large/006tNc79ly1fhw7mkntwoj315o0hfac7.jpg);
  .line-long{
    border-top: 1px solid white;
    width:80%;
    margin:0 auto;
  }
  .line-short{
    border-top: 4px solid rgba(44,118,233,1);
    width:20%;
    margin:0 auto;
    margin-top: -1px;
  }
  .support-part{

    height:250px;
    width:60%;
    margin:0 auto;
    color:white;

  }
  .support-part-icon{
    width:80%;
    height:140px;
    margin:0 auto;
    color:white;
    .support-part-span{
      height:140px;
      width:20%;
      margin:0 auto;
      display:inline-block;
      i{
        font-size: 90px;
      }
      strong{
        display:block;
        margin-top: 10px;
        font-size: 15px;
      }
    }
  }
}

// 页脚之上

.footer-top{
  width:100%;
  height:250px;
  background-color: rgb(140,153,192);
  padding-left: 10%;
  padding-top: 45px;
  ul{
    list-style:none;
    li{
      height:30px;
      &:hover{
        color:rgba(44,118,233,1);
      }
    }
    li:first-of-type{
      height:30px;
      font-size: 18px;
      font-weight: 800;
      &:hover{
        color:black;
      }
    }
  }
  .offer{
    width:20%;
    height:160px;
    float:left;
    border-right:1px solid white;
    text-align: center;
  }
  .industries{
    width:20%;
    height:160px;
    float:left;
    border-right:1px solid white;
    text-align: center;
  }
  .support{
    width:20%;
    height:160px;
    float:left;
    border-right:1px solid white;
    text-align: center;
  }
  .company{
    width:20%;
    height:160px;
    float:left;
    border-right:1px solid white;
    text-align: center;
  }
}


.footer-mid{
  width:100%;
  height:100px;
  background-color: rgb(77,88,117);
  .footer-mid-one{
    width:50%;
    float:left;
    height:100px;
    text-align: center;
    button:first-of-type{
      height: 30px;
      width: 150px;
      margin-top:35px;
      color:white;
      background-color: rgb(77,88,117);
      border-radius:15px;
      border:2px solid rgba(44,118,233,1);
      &:hover{
        background-color: rgba(44,118,233,1);
      }
    }
    button:last-of-type{
      height: 30px;
      width: 100px;
      margin-top:35px;
      margin-left: 30px;
      color:white;
      background-color: rgb(77,88,117);
      border-radius:15px;
      border:2px solid rgba(44,118,233,1);
      &:hover{
        background-color: rgba(44,118,233,1);
      }
    }
  }
  .footer-mid-two{
    width:50%;
    float:left;
    height:100px;
    text-align: center;
    i{
      font-size: 20px;
      line-height:100px;
      margin-right: 20px;
    }
  }
}
