// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-frame{
  padding-top:70px;
  width:80%;
  margin:0 auto -70px;
  min-height: 100%;
  padding-bottom: 70px;

}
