<div class="head">
  <div class="head-part-one">
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fhpbmr9tlgj30n306n40b.jpg" alt="">
    <li><a href="">我们的主要产和服务</a></li>
  </div>

  <div class="head-part-two">
    <ul>
      <li><a href="#">行业 </a></li>
      <li><a href="#">关于我们</a></li>
      <li><a href="#">联系</a></li>
    </ul>
  </div>
</div>
