<div class="head">
  <div class="head-part-one">
    <%= link_to root_path do %>
    <img src="https://ws2.sinaimg.cn/large/006tNc79ly1fhpbmr9tlgj30n306n40b.jpg" alt="">
    <% end %>
    <li>
      我们的主要产和服务
      <div class="dropdown-content">
        <div class="part-one">
          <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fhymi8f3luj30b40ciaaa.jpg" alt="">
        </div>
        <div class="part-two">
          <img src="https://ws1.sinaimg.cn/large/006tNc79ly1fhymiapp29j30b40cit91.jpg" alt="">
        </div>
        <div class="part-three">
          <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fhymicpc5kj30b40cit8u.jpg" alt="">
        </div>
        <div class="part-four">

          <span class="one">需要支持？</span>
          <a href="#" class="five">获得支持</a>
          <span class="four"> 服务</span>
          <span class="three"> 培训计划 | </span>
          <span class="two"> 支持计划 |</span>
        </div>
      </div>

    </li>
  </div>

  <div class="head-part-two">
    <ul class="ul-frame">
      <li class="height industry-dropdown">
        行业
        <ul class="industry-dropdown-content">
          <li><a>铁路培训系统</a></li>
          <li><a>高铁接触网检测系统 </a></li>
          <li><a>高铁远动培训</a></li>
        </ul>
      </li>
      <li class="height industry-dropdown">
        关于我们
        <ul class="industry-dropdown-content">
          <li><a href="/about">关于万数</a></li>
          <li><a href="#">客户案例</a></li>
        </ul>
      </li>
      <li class="height industry-dropdown">
        联系
        <ul class="industry-dropdown-content">
          <li><a href="/about">联系我们</a></li>
          <li><a href="#">联系销售部</a></li>
          <li><a href="#">联系技术部门</a></li>
          <li><a href="#">联系培训部</a></li>
        </ul>
      </li>
      <% if !current_user.present? %>
        <li class="nav-login"><%= link_to(content_tag(:i, "登录", class: "fa fa-sign-in"),new_user_session_path)%> </li>
      <% else %>
        <li class="dropdown">
          <a>你好！<%= current_user.email%></a>
          <ul  class="dropdown-content">
            <li><a href="#">后台</a></li>
            <li class="divider"></li>
            <li><%= link_to(content_tag(:i, "登出", class: "fa fa-sign-out"), destroy_user_session_path,method: :delete )%></li>
          </ul>

        </li>
      <% end %>
    </ul>
  </div>
</div>
